h1 {
  line-height: 45px;
  font-size: 2rem;
  padding: 0.5px;
  margin: 0;
  display:inline;
  float: left;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darksalmon;
}

footer {
  position:relative;
  bottom:0;
  margin-top: 380px;
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
}

img {
  max-width: 60%;
  max-height: auto;
  border-radius: 50%;
}

.student {
  border: 1px solid hsl(219, 74%, 27%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(236, 44%, 31%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 120px;
  display: inline-block;
}

.student .id {
  font-family: Arial, sans-serif;
  margin: 0;
}

.student .email {
  font-family: Arial, sans-serif;
}

.loop{
  background-color: white;
}